body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.audioColumn {
  flex-wrap: wrap;
  background-color: blue;
}

.centerColumn {
  background-color: blueviolet;
}

.modal1 {
  display: none;
}

.modal2 {
  display: none;
}

.modal2 {
  display: none;
}

.modal3 {
  display: none;
}

.fa-bell {
  color:white;
  padding-right: 10px;
}

.fa-cloud-rain {
  color:white;
  padding-right: 10px;
}

.fa-users {
  color: white;
  padding-right: 10px;
}

.fa-github-alt {
  color: white;
  padding-right: 10px;
}

.fa-book {
  color: white;
  padding-right: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}